name: Build
run-name: ${{ github.actor }} building project.
on:
  push:
    paths:
      - "sheet/**"
      - "src/deck/**"
      - "src/py/**"
      - "export.bat"

# permissions:
#   contents: write
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Fetch
        run: Get-ChildItem -Force
      - name: Job
        run: .\export.bat
      - name: Commit
        run: |
          git add build/
          $date = Get-Date -Format "yyyy-MM-dd HH:mm:ss"
          git commit -m "Automated update. $date." -m "[skip ci]"
          git push origin HEAD:${{ github.ref }} -o ci.skip